PLATFORM_ENV=dev
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=etl_audit
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=synthetic-dev-password
AIRFLOW_UID=50000
AIRFLOW_IMAGE=apache/airflow:3.0.6
HOP_IMAGE=apache/hop:2.15.0
